h1
{
   font-family:Verdana, Geneva, sans-serif;
    font-size:24px;
    text-align: center;
}
td
{
  border: solid;
  
}
h2
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}
